* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #1a1a1a;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.title-2{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}