#index {
    .hero {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1 {
            color: white;
            font-size: 4rem;
        }
        h2 {
            color: #cccccc;
            font-size: 2rem;
        }
    }
    .about {
        padding: 60px 0px;
    }
}